<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <a href="assets/img/A.jpg"><ion-img src="assets/img/A.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/B.jpg"><ion-img src="assets/img/B.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/C.jpg"><ion-img src="assets/img/C.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/D.jpg"><ion-img src="assets/img/D.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/E.jpg"><ion-img src="assets/img/E.jpg"></ion-img></a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <a href="assets/img/F.jpg"><ion-img src="assets/img/F.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/G.jpg"><ion-img src="assets/img/G.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/H.jpg"><ion-img src="assets/img/H.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/I.jpg"><ion-img src="assets/img/I.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/J.jpeg"><ion-img src="assets/img/J.jpeg"></ion-img></a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <a href="assets/img/K.jpeg"><ion-img src="assets/img/K.jpeg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/L.jpg"><ion-img src="assets/img/L.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/N.jpg"><ion-img src="assets/img/N.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/O.jpg"><ion-img src="assets/img/O.jpg"></ion-img></a>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <a href="assets/img/P.jpg"><ion-img src="assets/img/P.jpg"></ion-img></a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
